# Final Project

# Exploratory data analysis of the Disney dataset

Clifford Childs created December 20th 2021

## Forward

This notebook will be exploring `Disney` dataset. This document will answer some general questions about the dataset while also demonstating the Python compencies I have developed through the 8 modules of Python for Data Science.

# Introduction

## Question(s) of interests

In the analysis I will be investigating questions related to the revenue and disney films Disney datasets.I will be exploring information related to movie revenue by voice actor. I am primarily interested in looking films that were made after 1999 because I believe that data will me more relavent to the present day film industry. I believe that acotors who on average gross more revenue per film will appear in more films since disney will be more interested in casting them.

## Dataset description 

The below descripitions were taken directly from the [website]() where the datasets were originally obtained.

"All Disney movies with their release dates, genre, rating, total gross and inflation adjusted gross(2016).
Disney has produced many movies, this data has all Disney movies till 2016."


The `Disney` dataset is composed of 5 tables `disney_movies_total_gross.csv`, `disney_revenue_1991-2016.csv`, `disney-characters.csv`, `disney-directors.csv`, `disney-voice-actors.csv`. Each table is stored as a `.csv` file. The data set contains the release dates, genre, rating, total gross and inflation adjust gross of all disney movies made to to 2016; disney reveunue by source from 1991 to 2016; disney's characters catagorized by charater type (villian or hero) and including columns for films starred in, films release dates and film theme song; a list of disney directors and the films they directed; and, a list of all disney voice actors and the films the appeared in.

# Methods and Results

Since I am interested in revenue by film and revenue by voice actor, I will only need to import `disney_movies_total_gross.csv` and `disney-voice-actors.csv` tables.

I will start by my importing the relavent data frames some proform some visualizations to give me an overview of the types and data we will be working with and to identify and data wrangling that needs to be done.

In [1]:
#import data libaries that will need for this project
import altair as alt
import pandas as pd

#import required datatables and parse date field
movie_rev = pd.read_csv('data/disney_movies_total_gross.csv',  parse_dates = ['release_date'])
actor = pd.read_csv('data/disney-voice-actors.csv')

Here is what the tables look like:

In [2]:
movie_rev.head()

,index,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,"$184,925,485","$5,228,953,251"
1,1,Pinocchio,1940-02-09,Adventure,G,"$84,300,000","$2,188,229,052"
2,2,Fantasia,1940-11-13,Musical,G,"$83,320,000","$2,187,090,808"
3,3,Song of the South,1946-11-12,Adventure,G,"$65,000,000","$1,078,510,579"
4,4,Cinderella,1950-02-15,Drama,G,"$85,000,000","$920,608,730"

In [3]:
actor.head()

   index       character      voice-actor                        movie
0      0    Abby Mallard      Joan Cusack               Chicken Little
1      1  Abigail Gabble     Monica Evans               The Aristocats
2      2        Abis Mal  Jason Alexander          The Return of Jafar
3      3             Abu     Frank Welker                      Aladdin
4      4        Achilles             None  The Hunchback of Notre Dame

To help us learn more about the datasets I will run some `.info` and `.shape` tests. This will help give me an idea of size of my data, the dtypes within my data and the cleanliness of my data

First here is some more info on the `movie_rev` dataframe:

In [4]:
movie_rev.shape

(579, 7)

In [5]:
movie_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     579 non-null    int64
 1   movie_title               579 non-null    object
 2   release_date              579 non-null    datetime64[ns]
 3   genre                     562 non-null    object
 4   MPAA_rating               523 non-null    object
 5   total_gross               579 non-null    object
 6   inflation_adjusted_gross  579 non-null    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 31.8+ KB

And now here is some more information on `actor` dataframe:

In [6]:
actor.shape

(935, 4)

In [7]:
actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        935 non-null    int64
 1   character    935 non-null    object
 2   voice-actor  935 non-null    object
 3   movie        935 non-null    object
dtypes: int64(1), object(3)
memory usage: 29.3+ KB

I can see right away that all of the Dtypes in my `movie_rev` dataframe arre listed as objects with expection of the `release_date` columnn that I imported using `parse date` above. They also have several Null values in the genre column. I will start by cleaning this dataframe so that it better suited to answer the questions I have asked above.

In [8]:
#filling null values in the genre columns with 'unknown'
movie_rev = movie_rev.assign(genre = movie_rev['genre'].fillna('unknown'))
movie_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     579 non-null    int64
 1   movie_title               579 non-null    object
 2   release_date              579 non-null    datetime64[ns]
 3   genre                     579 non-null    object
 4   MPAA_rating               523 non-null    object
 5   total_gross               579 non-null    object
 6   inflation_adjusted_gross  579 non-null    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 31.8+ KB

In [9]:
# remove $ and ,  from total_gross and total_gross and convert to float
movie_rev = movie_rev.assign(total_gross = movie_rev['total_gross'].str.replace('$','',regex = True).str.replace(',','',regex = True).astype(float))
movie_rev.head()

,index,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485.0,"$5,228,953,251"
1,1,Pinocchio,1940-02-09,Adventure,G,84300000.0,"$2,188,229,052"
2,2,Fantasia,1940-11-13,Musical,G,83320000.0,"$2,187,090,808"
3,3,Song of the South,1946-11-12,Adventure,G,65000000.0,"$1,078,510,579"
4,4,Cinderella,1950-02-15,Drama,G,85000000.0,"$920,608,730"

In [10]:
# remove $ and ,  from total_gross and inflation_adjusted_gross and convert to float
movie_rev = movie_rev.assign(inflation_adjusted_gross = movie_rev['inflation_adjusted_gross'].str.replace('$','',regex = True).str.replace(',','',regex = True).astype(float))
print(movie_rev.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     579 non-null    int64
 1   movie_title               579 non-null    object
 2   release_date              579 non-null    datetime64[ns]
 3   genre                     579 non-null    object
 4   MPAA_rating               523 non-null    object
 5   total_gross               579 non-null    float64
 6   inflation_adjusted_gross  579 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 31.8+ KB
None

Great! I have fixed the null values and converted the `gross_total` and `inflation_adjusted_gross` dtypes to`float`

Many of the movies in the dataset do not list any box office revenue. It is reasonable to believe that these movies were not released in theaters. Here I am going to remove them.

In [11]:
#emove all columns with 0 gross
movie_rev = movie_rev[movie_rev['total_gross'] != 0]
#check that all zero values have been eliminated
movie_rev.sort_values(by='total_gross', ascending=True).head()

,index,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
511,511,Zokkomon,2011-04-22,Adventure,PG,2815.0,2984.0
487,487,Walt and El Grupo,2009-09-10,Documentary,PG,20521.0,23064.0
251,251,The War at Home,1996-11-20,unknown,R,34368.0,65543.0
280,280,An Alan Smithee Film: Burn Hollywood …,1998-02-27,Comedy,R,45779.0,82277.0
502,502,Gedo Senki (Tales from Earthsea),2010-08-13,Adventure,PG-13,48658.0,51988.0

Now that the dataframes have been cleaned I will merge them together so that that we can work with them in one dataframe.

In [12]:
#rename "movie_title" column to so the dataframes are consistent
movie_rev = movie_rev.rename(columns={'movie_title':'movie'})

#remove leading and trailing spaces from movie columns in mergerd dataframes

movie_rev.assign(movie = movie_rev['movie'].str.strip())
actor.assign(actor = actor['movie'].str.strip())


#merge using inner becuase we are only interested in movies with voice actors

movie_rev_actor = movie_rev.merge(actor,
                                  left_on='movie', 
                                  right_on='movie',
                                  how='inner')
movie_rev_actor = movie_rev_actor[movie_rev_actor['voice-actor'] != 'None']

movie_rev_actor.head()
## make sure all voice-actor with eligable movies are in the dataframe

,index_x,movie,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,index_y,character,voice-actor
0,0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485.0,5.228953e+09,80,Bashful,Scotty Mattraw
1,0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485.0,5.228953e+09,237,Doc,Roy Atwell
2,0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485.0,5.228953e+09,248,Dopey,Eddie Collins
3,0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485.0,5.228953e+09,382,Grumpy,Pinto Colvig
4,0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485.0,5.228953e+09,389,Happy,Otis Harlan

We now have a dataframe that can be used for analyzing revenue by voice actor. However our inquiry question above only cares about modern movies. Below I am going to filter movies that were released before January 1st 1999.

In [13]:
#remove all films that were releassed before 1999, to ensure the data is somewhat relative to modern day

movie_rev_actor = movie_rev_actor.loc[(movie_rev_actor['release_date'] >= '1999-01-01')]

movie_rev_actor.sort_values(by='release_date', ascending=True).head()

,index_x,movie,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,index_y,character,voice-actor
399,306,Tarzan,1999-06-16,Adventure,G,171091819.0,283900254.0,463,Kerchak,Lance Henriksen
397,306,Tarzan,1999-06-16,Adventure,G,171091819.0,283900254.0,430,Jane Porter,Minnie Driver
398,306,Tarzan,1999-06-16,Adventure,G,171091819.0,283900254.0,457,Kala,Glenn Close
400,306,Tarzan,1999-06-16,Adventure,G,171091819.0,283900254.0,620,Mungo,Jason Marsden
401,306,Tarzan,1999-06-16,Adventure,G,171091819.0,283900254.0,836,Tantor,Wayne Knight

Now lets take a look at average revenue by voice-actor.

In [14]:
# group by voice actor and compute the average number of parts.

rev_actor_group = pd.DataFrame(movie_rev_actor.groupby('voice-actor')['inflation_adjusted_gross'].mean().sort_values(ascending=False))

#reset index so we can plot

rev_actor_group = rev_actor_group.reset_index()
rev_actor_group.head()

       voice-actor  inflation_adjusted_gross
0     Kristen Bell               414997174.0
1   Jonathan Groff               414997174.0
2   Chris Williams               414997174.0
3         Josh Gad               414997174.0
4  Santino Fontana               414997174.0

Now lets plot out the top 20 actors by average revenue by movie.

In [15]:
#plot top 20 highest averages using altiar. input hidden

voice_actor_plot = (
    alt.Chart(rev_actor_group[:20], width=1000, height=300)
    .mark_bar()
    .encode(
        x=alt.X("voice-actor:N",sort="-y", title="Voice Actor"),
        y=alt.Y("inflation_adjusted_gross:Q", title="Average Movie Revenue"),
    )
    .properties(title="Figure 1: Top 20 Average Movie Revenue by Voice Actor inflation adjusted since 1999")
)
voice_actor_plot

alt.Chart(...)

How many movies did each actor star in?

In [16]:
# group by year and compute the average number of parts.

count_actor_group = movie_rev_actor.groupby('voice-actor')['movie'].count().sort_values(ascending=False)
count_actor_group.head()

count_actor_group = count_actor_group.reset_index()
count_actor_group.head()

       voice-actor  movie
0  J. Pat O'Malley      5
1       Alan Tudyk      4
2     Corey Burton      3
3    John DiMaggio      3
4     John Goodman      2

In [24]:
#plot top 75 highest appearance in movies using altiar input hidden

count_actor_plot = (
    alt.Chart(count_actor_group[:20], width=1000, height=300)
    .mark_circle()
    .encode(
        x=alt.X("voice-actor:N",sort="-y", title="Voice Actor"),
        y=alt.Y("movie:Q", title="movie appearances"),
    )
    .properties(title="Figure 2: nummber of films by Voice Actor since 1999 (top 20 actors)")
)
count_actor_plot

alt.Chart(...)

The above plost shows us the that there relatively few actors who have not more than one film since 1999. We can see that Kirsten Bell has the highest grossing average but has only starred in one movie.

Now I will create a function the reads in a dataframe and returns the counts and average of a specific columns for a specific string. This will be a helpful tool to quickly see how many movies a given actor has been in and how much revenue they have grossed on average per moive. However, it can also be used to get other interesting stats such as revenue by genre and it can be reused on any dataframe that contains columns with strings and columns with floats.

In [18]:
#import function
from scripts import its_the_final_function as ff

In [19]:
#test function

!pytest scripts\final_test.py

============================= test session starts =============================
platform win32 -- Python 3.9.12, pytest-7.2.0, pluggy-1.0.0
rootdir: C:\Users\cliff\final-assignment-8\assignment-8-book
plugins: anyio-3.6.1
collected 2 items

scripts\final_test.py ..                                                 [100%]

============================== 2 passed in 1.67s ==============================

In [20]:
#how many disney movies has Kristen Bell appeared in and how much did they gross after inflation on average?
kristen_bell = ff.custom_count_mean(movie_rev_actor,'voice-actor', 'Kristen Bell', 'inflation_adjusted_gross')
kristen_bell

(1, 414997174.0)

In [21]:
#now lets try John Goodman

john_goodman = ff.custom_count_mean(movie_rev_actor,'voice-actor', 'John Goodman', 'inflation_adjusted_gross')
john_goodman

(2, 126552854.5)

To see how average revenue by actor compares to the overall average we will need to calucate the overall average movie revenue for movies released since 1999.

In [22]:
movie_rev_1999 = movie_rev.loc[(movie_rev['release_date'] >= '1999-01-01')]
movie_rev_1999.sort_values(by='release_date', ascending=True).head()

,index,movie,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
300,300,My Favorite Martian,1999-02-12,Comedy,PG,36850101.0,61150849.0
301,301,The Other Sister,1999-02-26,Romantic Comedy,PG-13,27807627.0,46145331.0
302,302,Doug's 1st Movie,1999-03-26,Adventure,G,19421271.0,32228598.0
303,303,Ten Things I Hate About You,1999-03-31,Romantic Comedy,PG-13,38177966.0,63354375.0
304,304,Endurance,1999-05-14,unknown,PG,229128.0,380218.0

Above I test the function against some helper data to ensure it is returning the correct values

In [23]:
#Find mean movie revenue of movie realeased after 1999-01-01

mean_rev_a1999  =movie_rev_1999['inflation_adjusted_gross'].mean()

mean_rev_a1999

111235899.49640287

Above we can see that Kristen Bell and John Goodman appear in one and two films respectively since 1999 but that the movies they were in grossed above the average movie released by disney since 1999.

# Discussions

 In the analysis I tried compute average revenue of movies starred in by each voice actor and the average number of movies they had starred in since 1999. First I imported the relavant datasets and then using `.info()` looked at how the data was being stored. I then cleaned and and merged the `disney_voice_actor` dataset with the `disney_movies_total_revenue` data set. I then performed several visualizations that helped me answer my intitial question. I also created a function that pulls the the number of movies and average revenue per movie for a specfic actor. This acts a search function of the data. I is usefull for looking up specfic information on a specfic actor.
 
 I was quite suprised by my results. Very few actors appeared in more that one movie since 1999. Further the actors who appeared in more films generally had a lower average movie revenue for the movies they starred in. I expected that disney would cast actors more often once they had a successfull movie but that does to appear to be what is happening. This could be becuase the genre and theme of the movie matter more than the actors who starred in them.
 
 One interesting question to explore on this data could be to see if there is a correlation between average revenue by genre and number of movies created under that specific genre. It would be very interesting to compare the results of that analysis to my results. It could also be interesting to expand that analysis beyond just disney movies if those datasets exist. This would interesting becuase it would allow disney to begin focus that production budgets on genres and actors that on avergae earn the studio more revenue.

# References

Not all the work in this notebook is original. Some of the code was taken from various online sources including https://stackoverflow.com/, the various Modules and assigments in 'Python for Data Science' and the 'Sample Project'. I take no credit for parts that are not mine.


## Resources used

Data Souce:

    `disney data set` provided through Python for Data Science

Trouble shooting:

    https://stackoverflow.com/  and modules 1 through 8 in Python for Data Science were used to trouble shoot the many errors I came accross.